    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Get better at your job with more frequent feedback</h1>
                        <!-- <h3>without breaking others</h3> -->
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                
                            <!-- old buttons from original template
                                <a href="/auth/twitter" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">start writing anonymously</span></a> -->
                                <button type="button" onclick=window.location='/auth/twitter' class="home-button" id="button-1" style="width:300px">
                                Get started
                              </button>
                              <br>
                              OR
                                <br>
                                <button type="button" onclick=window.location='/' class="home-button" id="button-2" style="width: 300px">
                                Take a peek around
                              </button>
                          </li>
                          <li>
<!--                                 <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What is WeGrow?</h2>
                    <p class="lead">WeGrow is the simplest feedback gathering tool on the planet for individuals, teams, and companies. We make it stupid simple to give and get feedback directly or anonymously so you or your team can diagnose strengths to lean on and opportunity areas to improve.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://s3.amazonaws.com/checkmybackdoor/images/How+To/dashboard.png" alt="" style="margin: 50px 0px 0px 0px">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How does it work?</h2>
                    <p class="lead">We ask the people that matter in your teams and organization quick and easy questions about your performance so you can improve. You also answer the same questions about yourself and your coworkers through whatever channel works best for you: email, web, or our mobile apps (coming soon).</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://s3.amazonaws.com/checkmybackdoor/images/How+To/reply.png" alt="" style='margin-left:0px;margin-top:50px'>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What's the catch?</h2>
                    <p class="lead">No catch. Just honest feedback from the people that matter. You tell us what you want to improve, and we get you started.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://s3.amazonaws.com/checkmybackdoor/images/How+To/select.png" alt="" style='margin-left:0px'>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Get started</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
<!--                         <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li> -->
                        <li>
                            <!-- original button
                            <a href="/auth/twitter" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Sign up with Twitter</span></a> -->
                            <button type="button" onclick=window.location='/auth/twitter' class="home-button" id="button-1" style="width:300px;">
                                Sign up
                              </button>
                        </li>
<!--                         <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li> -->
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->