.home-button {
	margin: 10px auto;
	font-size: 18px;
	padding: 20px;
	border-radius: 50px;
	border: none;
	width: 200px;
	font-family: lato;
}
.home-button:hover {
	opacity: .8;
}

#button-1 {
	background-color: #6caff1;
}

#button-2 {
	background-color:#ff5867;
}

#lead-submit {
	width: 70%;
	background-color:#ff5867;
	color: white;
}